:root {
    --primary-color: #273036;
    --title-font: 'Raleway', sans-serif;
    --paragraph-font:'Playfair Display', serif;


}

/*Stars*/
* {
    box-sizing: border-box;
}
  
main {
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom,  #43C6AC, pink);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom,  #43C6AC, pink, orange); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    overflow: hidden;
    position: relative;
}
  
body, html {
    height: 100vh;
    margin: 0;
}

.sky-container {
    float: left;
}

.sky-container, .sky-container1 {
    margin-top: 20%;
    width: 500px;
    height: 100px;
    display: flex;
    transform: rotateZ(45deg);
}
.sky-container1 {
    float: right;
} 
.star {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2px;
    background: linear-gradient(-45deg, white, rgba(0, 0, 255, 0));
    filter: drop-shadow(0 0 6px yellow);
    animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}
  
.star::before, .star::after {
    position: absolute;
    content: '';
    top: calc(50% - 1px);
    right: 0;
    height: 1px;
    background: white;
    border-radius: 100%;
    transform: translateX(50%) rotateZ(45deg);
    animation: shining 3000ms ease-in-out infinite;
}
  
.star::after {
    transform: translateX(50%) rotateZ(-45deg);
}
  
.star:nth-child(1) {
    top: calc(50% - 200px);
    left: calc(50% - 300px);
    animation-delay: 650ms;
}

.star:nth-child(1)::before, .star:nth-child(1)::after {
    animation-delay: 650ms;
}
  
.star:nth-child(2) {
    top: calc(50% - -50px);
    left: calc(50% - 190px);
    animation-delay: 150ms;
}

.star:nth-child(2)::before, .star:nth-child(2)::after {
    animation-delay: 150ms;
}
  
.star:nth-child(3) {
    top: calc(50% - -90px);
    left: calc(50% - 200px);
    animation-delay: 1600ms;
}
  
.star:nth-child(3)::before, .star:nth-child(3)::after {
    animation-delay: 1600ms;
}
  
.star:nth-child(4) {
    top: calc(50% - 50px);
    left: calc(50% - 250px);
    animation-delay: 4700ms;
}

.star:nth-child(4)::before, .star:nth-child(4)::after {
    animation-delay: 4700ms;
}
  
.star:nth-child(5) {
    top: calc(50% - -190px);
    left: calc(50% - 200px);
    animation-delay: 2100ms;
}

.star:nth-child(5)::before, .star:nth-child(5)::after {
    animation-delay: 2100ms;
}
/* Animations */
@keyframes tail {
    0% {
        width: 0;
    }    

    30% {
        width: 100px;
    }
        
    100% {
        width: 0;
    }
}
  
@keyframes shining {
    0% {
        width: 0;
    }
    50% {
        width: 30px;
    }
    100% {
        width: 0;
    }
  }
  
  @keyframes shooting {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(320px);
    }
  }

/* End of Stars */
/* Dessert Starts */
.dessert {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 30px;
}
/* Dessert Ends */
/* Projects Section Start */
/* Projects Section Ends */