.navbar {
    background: linear-gradient(5deg, pink, purple)
}
.About {
    font-size: 12pt;
    padding-top: 1%
}
.boxedpar {
    border: none;
    width: 550px;
    word-wrap: break-word;
    margin: 0 auto;
}
#AboutParagraph {
    text-align: center;
    font-size: x-small;
    background: white;
    display: block;
    padding-top: 5%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: darkslategray;
    font-weight: 300px;
}

#Angie {
    width: 25%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:10px;
    border:1px;
    background-color: aliceblue;
    border-radius: 50%;

}