body { 
  background-image: radial-gradient(#cbf5f2 20%, transparent 0);
  background-size: 100px 100px;
  background-position: 8, 0, 15px 15px;
}
.title {
    text-align: center;
    padding: 16px;
    font-family: open sans-serif;
    font-weight: 200;
}
.nav {
    display: flex;
    padding-left: 24px;
    text-align: center;
    font-weight: 100;
    
}
.nav-link {
    color: black;
    padding: 8px;
    
}
.navbar {
    list-style-type: none;
    display: flex;
    text-align: center;
    border: none;
    box-shadow: none;
    background-color: none;
    
}
.About {
  
    font-size: 12pt;
    padding-bottom: 5%;
    background: white;
}
.boxedpar {
    border: none;
    width: 550px;
    word-wrap: break-word;
    margin: 0 auto;
}
#AboutParagraph {
    text-align: justify;
    font-size: x-small;
    /** background: white; **/
    display: block;
    padding-top: 5%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: black;
    font-weight: 300px;
    margin-left: 10%
}

#Angie {
    width: 25%;
    height: auto;
    display: block;
    margin-left: 10%;
    margin-right: auto;
    padding:10px;
    border:1px;
    background-color: turquoise;
    border-radius: 50%;
    float: left;
    padding-left: 


}

* {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    /**color: white;**/
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    /**background-color: #f2f2f2;*/
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  img {
      width: 100%;
  }