:root {
    --primary-color: #273036;
    --title-font: 'Playfair Display', serif;
    --paragraph-font: 'Raleway', sans-serif;
    --font-lg: 52px;
    --font-md: 16px;
    --font-sm: 12px;
}

/*Stars*/
* {
    box-sizing: border-box;
}
  
main {
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom,  #43C6AC, pink, orange);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom,  #43C6AC, pink, orange); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    overflow: hidden;
    position: relative;
}
  
body, html {
    height: 100vh;
    margin: 0;
}

.sky-container {
    float: left;
}

.sky-container, .sky-container1 {
    
    width: 500px;
    height: 100px;
    display: flex;
    transform: rotateZ(45deg);
}
.sky-container1 {
    float: right;
} 
.shooting-star {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 1px;
    background: linear-gradient(-45deg, yellow, #FFFF99, white);
    filter: drop-shadow(0 0 6px yellow);
    animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}
.shooting-star::before, .shooting-star::after {
    position: absolute;
    content: '';
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, yellow, white);
    border-radius: 100%;
    transform: translateX(50%) rotateZ(45deg);
    animation: shining 3000ms ease-in-out infinite;
}
  
.shooting-star::after {
    transform: translateX(50%) rotateZ(-45deg);
}
  
.shooting-star:nth-child(1) {
    top: calc(50% - 200px);
    left: calc(50% - 300px);
    animation-delay: 650ms;
}

.shooting-star:nth-child(1)::before, .shooting-star:nth-child(1)::after {
    animation-delay: 650ms;
}
  
.shooting-star:nth-child(2) {
    top: calc(50% - -50px);
    left: calc(50% - 190px);
    animation-delay: 150ms;
}

.shotting-star:nth-child(2)::before:nth-child(2)::before, .shooting-star:nth-child(2)::after {
    animation-delay: 150ms;
}
  
.shooting-star:nth-child(3) {
    top: calc(50% - -90px);
    left: calc(50% - 200px);
    animation-delay: 1600ms;
}
  
.shooting-star:nth-child(3)::before, .shooting-star:nth-child(3)::after {
    animation-delay: 1600ms;
}

.shooting-star:nth-child(4) {
    top: calc(50% - -90px);
    left: calc(50% - 200px);
    animation-delay: 1600ms;
}
  
.shooting-star:nth-child(4)::before, .shooting-star:nth-child(4)::after {
    animation-delay: 1600ms;
}


/* Animations */
@keyframes tail {
    0% {
        width: 0;
    }    

    30% {
        width: 100px;
    }
        
    100% {
        width: 0;
    }
}
  
@keyframes shining {
    0% {
        width: 0;
    }
    50% {
        width: 30px;
    }
    100% {
        width: 0;
    }
  }
  
  @keyframes shooting {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(320px);
    }
  }

/* End of Stars */
/* Dessert Starts */
.dessert {
    margin-top: 70px;
    width: 100%;
    height: auto;
    object-fit: cover;
    
}
/* Dessert Ends */
/* Projects Section Start */
.title {
    font-size: var(--font-lg);
    font-family: var(--title-font);
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
#about {
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    font-size: var(--font-md);
    font-family: var(--paragraph-font);
    margin-bottom: auto;
    margin-top: auto;
    width: 40em;
}

#work {
    padding: 1% 15% 5% 15%;
}

.project-icons {
    display: flex;
    justify-content: space-evenly;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    text-align: justify;
}

.icons {
    height: 25px;
    width: 25px;
    margin: 0% 3% 0% 3%;
}

#chat {
    font-size: var(--font-md);
    font-family: var(--paragraph-font);
    display: inline-flex;
    justify-content: center;
    margin: 20px;
    width: 90%;
}
#chat a {
    color: black;
    font-weight: bolder;
}
.footer {
    display: flex;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 3%;
    background-color: pink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Projects Section Ends */